.block-comment-container{
    width:100%;
    background-color: white !important;
    padding:30px;

}
.block-comment-container .comment-card{
    width:70%;
    border:1px solid #d8d6cd;
     padding:20px;
     border-radius:5px;
     margin-bottom:15px;
}
.block-comment-container  .comment-cart-right{

}
.block-comment-container .comment-card .img-info-user{
    width:70px;
    height:70px ;
    border-radius: 50%;
}
.block-comment-container .comment-card .title-comment{
    padding:10 10 10 0px;
    height:60px;
}
.block-comment-container .comment-card .descript-comment{
    padding:10px;
    min-height:40px;
}